@font-face {
  font-family: 'Iaconic';
  src: url('Laqonic\ 4F\ Unicase\ SemiBold.ttf');
}

html{
  background-image: url("images/bg.png");
}

a {text-decoration: none; }

.container{
  vertical-align: center;
}

.ca{
  background-color:rgb(222, 209, 192); padding: 30px; border:solid; border-color: black;
}

.ca-socks{
  background-color:rgb(222, 209, 192); padding: 30px; border:solid; border-color: black;
}

.ca-memes{
  background-color:rgb(222, 209, 192); padding: 30px; border:solid; border-color: black;
}

.ca-support{
  background-color:rgb(222, 209, 192); padding: 30px; border:solid; border-color: black;
}

.pfp{
  width: 1000px; height: 333px; margin: 50px; margin-top: 80px;
}

.logos-box{
  background-color:rgb(222, 209, 192); padding: 0px; border:solid; border-color: black; 
}

.logos-div{
  padding: 50px; padding-top: 150px;
}

.socks-writing{
  padding:50px;
}

.div1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 100px; padding-right: 100px; padding-top: 50px; padding-bottom: 50px;
}

.logos-right{
  margin-right: 300px;
}

.logos-left{
  margin-left: 300px;
}

.logos-dim{
  width: 60px; height: 60px;
}

.logos-dim2{
  width: 60px; height: 70px;
}

.margin-img{
    margin: 30px;
}

.testo{
    font-size: 85px;
    color: white; line-height: 0px;
}

.testo-ca{
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.memes-padding{
  padding: 50px; margin-top: 250px; padding-bottom: 60px;
}

button {
    display: block;
    font-size: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: white;
    color: #000000;
    margin: 50px auto 0;
    padding: 16px 30px;
    cursor: pointer;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  .splide__slide img {
    width: 100%;
    height: auto;
  }

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides img{
    height: 600px;
  }

  /* h1 {
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1rgb #000000;
  } */

  h1 {
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    font-family: 'Iaconic';
  }

  
  .collage{
    width: 1000px;
  }


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 600px) {

  .div1{
    width:100%;
  }


  .testo{
    font-size: 300%;
  }

  .content{
    width:100%;
    height:100%;
  }

  .text{
    width:100%;
  }

  .numbertext{
    width:100%;
  }

  .mySlides{
    width: 100%;
    height: 100%;
  }

  .mySlides img{
    width:100%;
    height: 100%;
  }

  h1{
    width: 100%;
  }

  html{
    width:100%;
  }

  .slideshow-container{
    width: 100%;
    height: 100%;
  }

  .dot{
    width: 100%;
  }

  button{
    width: 100%;
  }

  #myVideo{
    width: 100%;
    height: 100%;
  }

  .logos-right{
    margin-right: 40px;
  }
  
  .logos-left{
    margin-left: 40px;
  }

  .ca{
    width: 90%;
  }

  .ca-socks{
    width: 70%;
  }

  .ca-memes{
    width: 100%;
  }

  .ca-support{
    width: 100%;
  }
  
  .pfp{
    width: 300px;
    height: 100px;
  }
  
  .logos-box{
    width: 100%;
    height: 80%;
  }

  .logos-div{
    width: 100%;
    height: 100%;
  }

  .logos-dim{
    width: 35px; height: 35px;
  }
  
  .logos-dim2{
    width: 35px; height: 40px;
  }

  .logos{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .margin-img{
    width: 100%;
  }

  .testo-ca{
    font-size: 10px;
  }
  
  .memes-padding{
    width: 50%;
  }

  .collage{
    width: 100%;
  }
}

@media (min-width: 601px) {

  .div1{
    width:100%;
  }


  .testo{
    font-size: 300%;
  }

  .content{
    width:100%;
    height:100%;
  }

  .text{
    width:100%;
  }

  .numbertext{
    width:100%;
  }

  .mySlides{
    width: 100%;
    height: 100%;
  }

  .mySlides img{
    width:100%;
    height: 100%;
  }

  h1{
    width: 100%;
  }

  html{
    width:100%;
  }

  .slideshow-container{
    width: 100%;
    height: 100%;
  }

  .dot{
    width: 100%;
  }

  button{
    width: 100%;
  }

  #myVideo{
    width: 100%;
    height: 100%;
  }

  .logos-right{
    margin-right: 40px;
  }
  
  .logos-left{
    margin-left: 40px;
  }

  .ca{
    width: 90%;
  }

  .ca-socks{
    width: 60%;
  }

  .ca-memes{
    width: 100%;
  }

  .ca-support{
    width: 100%;
  }
  
  .pfp{
    width: 500px;
    height: 166px;
  }
  
  .logos-box{
    width: 60%;
    height: 100%;
  }

  .logos-div{
    width: 100%;
    height: 100%;
  }

  .logos-dim{
    width: 35px; height: 35px;
  }
  
  .logos-dim2{
    width: 35px; height: 40px;
  }

  .logos{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .margin-img{
    width: 100%;
  }

  .testo-ca{
    font-size: 18px;
  }
  
  .memes-padding{
    width: 50%;
  }

  .collage{
    width: 100%;
  }
}

@media (min-width: 768px) {

  .div1{
    width:100%;
  }


  .testo{
    font-size: 300%;
  }

  .content{
    width:100%;
    height:100%;
  }

  .text{
    width:100%;
  }

  .numbertext{
    width:100%;
  }

  .mySlides{
    width: 100%;
    height: 100%;
  }

  .mySlides img{
    width:100%;
    height: 100%;
  }

  h1{
    width: 100%;
  }

  html{
    width:100%;
  }

  .slideshow-container{
    width: 100%;
    height: 100%;
  }

  .dot{
    width: 100%;
  }

  button{
    width: 100%;
  }

  #myVideo{
    width: 100%;
    height: 100%;
  }

  .logos-right{
    margin-right: 40px;
  }
  
  .logos-left{
    margin-left: 40px;
  }

  .ca{
    width: 90%;
  }

  .ca-socks{
    width: 60%;
  }

  .ca-memes{
    width: 100%;
  }

  .ca-support{
    width: 100%;
  }
  
  .pfp{
    width: 600px;
    height: 200px;
  }
  
  .logos-box{
    width: 60%;
    height: 100%;
  }

  .logos-div{
    width: 100%;
    height: 100%;
  }

  .logos-dim{
    width: 35px; height: 35px;
  }
  
  .logos-dim2{
    width: 35px; height: 40px;
  }

  .logos{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .margin-img{
    width: 100%;
  }

  .testo-ca{
    font-size: 20px;
  }
  
  .memes-padding{
    width: 50%;
  }

  .collage{
    width: 100%;
  }
}

@media (min-width: 992px) {

  .div1{
    width:100%;
  }


  .testo{
    font-size: 300%;
  }

  .content{
    width:100%;
    height:100%;
  }

  .text{
    width:100%;
  }

  .numbertext{
    width:100%;
  }

  .mySlides{
    width: 100%;
    height: 100%;
  }

  .mySlides img{
    width:100%;
    height: 100%;
  }

  h1{
    width: 100%;
  }

  html{
    width:100%;
  }

  .slideshow-container{
    width: 100%;
    height: 100%;
  }

  .dot{
    width: 100%;
  }

  button{
    width: 100%;
  }

  #myVideo{
    width: 100%;
    height: 100%;
  }

  .logos-right{
    margin-right: 40px;
  }
  
  .logos-left{
    margin-left: 40px;
  }

  .ca{
    width: 90%;
  }

  .ca-socks{
    width: 60%;
  }

  .ca-memes{
    width: 100%;
  }

  .ca-support{
    width: 100%;
  }
  
  .pfp{
    width: 700px;
    height: 233px;
  }
  
  .logos-box{
    width: 50%;
    height: 100%;
  }

  .logos-div{
    width: 100%;
    height: 100%;
  }

  .logos-dim{
    width: 35px; height: 35px;
  }
  
  .logos-dim2{
    width: 35px; height: 40px;
  }

  .logos{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .margin-img{
    width: 100%;
  }

  .testo-ca{
    font-size: 23px;
  }
  
  .memes-padding{
    width: 50%;
  }

  .collage{
    width: 100%;
  }
}

@media (min-width: 1200px) {

  .container{
    vertical-align: center;
  }
  
  .ca{
    width: 70%;
  }
  
  .ca-socks{
    width: 30%
  }
  
  .pfp{
    width: 1000px; height: 333px; margin: 50px; margin-top: 80px;
  }
  
  .logos-box{
    width:90%; 
  }
  
  .logos-div{
    padding: 50px; padding-top: 150px;
  }
  
  .socks-writing{
    padding:50px;
  }
  
  .div1{
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  
  .logos{
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-left: 100px; padding-right: 100px; padding-top: 50px; padding-bottom: 50px;
  }
  
  .logos-right{
    margin-right: 300px;
  }
  
  .logos-left{
    margin-left: 300px;
  }
  
  .logos-dim{
    width: 60px; height: 60px;
  }
  
  .logos-dim2{
    width: 60px; height: 70px;
  }
  
  .margin-img{
      margin: 30px;
  }
  
  .testo{
      font-size: 85px;
      color: white; line-height: 0px;
  }
  
  .testo-ca{
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
  
  .memes-padding{
    padding: 50px; margin-top: 250px; padding-bottom: 60px;
  }
  
  button {
      display: block;
      font-size: 40px;
      border: 1px solid #000000;
      border-radius: 5px;
      background-color: white;
      color: #000000;
      margin: 50px auto 0;
      padding: 16px 30px;
      cursor: pointer;
    }
  
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
    
    /* Add some content at the bottom of the video/page */
    .content {
      position: fixed;
      bottom: 0;
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
    }
  
    .splide__slide img {
      width: 100%;
      height: auto;
    }
  
    * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  .mySlides img{
      height: 600px;
    }
  
    /* h1 {
      text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                   1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1rgb #000000;
    } */
  
    h1 {
      text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
                   1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    }
  
    
    .collage{
      width: 1000px;
    }

    .ca-memes{
      width: 30%;
    }
  
    .ca-support{
      width: 35%;
    }
  
}
